ruby
{
	/*-webkit-transform: translateZ(0);*/
	display:inline-block;
	text-align:center;
	padding-top:0.2em;
	word-wrap:normal;
	vertical-align: bottom;
}

ruby rp
{
	display:none;
}

ruby rb, ruby rt
{
	display:block;
	text-align:center;
	vertical-align:bottom;
}

ruby rt
{
	display: table-header-group;
	font-size:0.5em;
	line-height:1.5em;
}

ruby rt.dot
{
	vertical-align:justify;
}

ruby rb
{
	display: table-row-group;
	vertical-align:bottom;
}

/*ruby rt, ruby rp
{
	display:none;
}

ruby, ruby rb
{
	display: inline;
}*/

.ruby
{
	/*text-align:center;*/
	display:inline-block;
	/*padding-top:0.2em;*/
	padding-top:0.7em;
	word-wrap:normal;
	position:relative;
}

.ruby .rt
{
	/*display: table-header-group;*/
	display:block;
	font-size:0.5em;
	line-height:1.5em;
	position:absolute;
	top:0.2em;
	left:0;
	/*display:none;*/
}