html
{
	height:100%;
	width:100%;
}
body
{
	margin: 0;
	overflow:hidden;
	height:100%;
	width:100%;
	/* Turn off touch highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	/* block copy&paste on android */
	-webkit-touch-callout: none;
    /*-webkit-user-select: none;*/
}

.gui *
{
	-webkit-touch-callout: none;
}

.screen
{
	height:100%;
	width:100%;
	overflow:hidden;
	display:none;
}
.screen.scrollable
{
	overflow-y:scroll;
}
.screen.active
{
	display:block;
}
.menu
{
	font-family:sans-serif;
}

.menu .item
{
	width:100%;
	/*padding:5px;*/
	padding:0.3125em;
	/*border-bottom:1px solid black;*/
	box-shadow: 0 0.0625em 0 0 black;
	margin-bottom:0.0625em;
	font-family:sans-serif;
	box-sizing:border-box;
}
.menu .item.disabled
{
	color:gray;
}

.menu .item .description
{
	color: gray;
	font-size:0.5em;
}

.menu .item input, .menu .item select
{
	display:none;
}

/*.menu .item select
{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}*/

.menu .item.slider-control input
{
	width:100%;
	display: block;
	margin-left:0;
	margin-right:0;
}

.menu .item.slider-control .value
{
	/*float:right;*/
}

.menu .item.checkbox, .menu .item.select, .menu .item.radio, .menu .item.back
{
	/*padding-right:30px;*/
	padding-right:1.875em;
	position:relative;
}

/* Not using plain image background, because there positioning issues on android */
.menu .item.checkbox i, .menu .item.select i, .menu .item.radio i, .menu .item.back i
{
	/*width:20px;*/
	width:1.25em;
	/*height:20px;*/
	height:1.25em;
	background-size: 100% 100%;
	position:absolute;
	/*top:5px;*/
	top:0.3125em;
	/*right:5px;*/
	right:0.3125em;
}

.menu .item.checkbox i
{
	background-image: url("unchecked.png");
}

.menu .item.checkbox.checked i
{
	background-image: url("checked.png");
}

.menu .item.select i
{
	background-image: url("select.png");
}

.menu .item.radio i
{
	background-image: url("radio.png");
}

.menu .item.radio.checked i
{
	background-image: url("radio-checked.png");
}

.menu .item.back i
{
	background-image: url("up.png");
}

.menu .header
{
	background:black;
	color:white;
	overflow:hidden;
	/*font-size:10px;*/
	font-size:0.625em;
	/*border-bottom:1px solid black;*/
	box-shadow: 0 0.1em 0 0 black;
	margin-bottom:0.1em;
	box-sizing:border-box;
	width:100%;
	/*padding:2px;*/
	padding:0.2em;
	display:block;
}

.slider
{
    box-sizing: border-box;
	margin-top:0.125em;
    padding-right:1em;
    height:0.5em;
    /*border-bottom: 2px solid black;*/
	/*box-shadow: 0 0.0625em 0 0 black;*/
	box-shadow: 0 0.0825em 0 -0.02em black;
	margin-bottom:0.625em;
}

.slider > div
{
	position:relative;
}

.slider .knob
{
    position:absolute;
    height:1em;
    width:1em;
    background:white;
    /*border:1px solid black;*/
	box-shadow: 0 0 0 0.0625em black;
	/*border:0.0625em solid black;*/
    top:0.0625em;
}

.screen.loading .message
{
	display:table;
	width:100%;
	height:100%;
}
.screen.loading .message span
{
	display:table-cell;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

.gpu
{
	-webkit-transform: translateZ(0);
}

.reader .scroller
{
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	box-sizing:border-box;
}
.reader .container
{
	word-wrap:break-word;
	line-height:1.5;
	/*padding-top:50%;
	padding-bottom:50%;*/
}

.reader .wrapper
{
	height:100%;
	width:100%;
	overflow: hidden;
}

/*.container p,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6
{
	line-height:1.5em;
}*/

/*.reader .container *
{
	-webkit-user-select: none;
}*/

.reader .container p
{
	/*word-wrap:break-word;*/
	text-indent: 0;
}

/*.container p *:not(p)
{
	text-indent: initial;
}*/

.reader .container img
{
	display: block;
	max-width:100%;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	min-height: 1px;
}

/*.img-frame
{
    vertical-align:top;
    display: table;
    margin: 0 auto;
    table-layout: fixed;
}

.img-frame .img-container
{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
	width:inherit;
	height:inherit;
}

.img-frame .img-container img
{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:0 auto;
}*/

.floater
{
	box-sizing: border-box;
	position:fixed;
	display:none;
	width: 100%;
	background-color:white;
}
.floater.top
{
	top:0;
	/*border-bottom:2px solid black;*/
	box-shadow: 0 0.125em 0 0 black;
	margin-bottom: 0.125em;
}
.floater.bottom
{
	/*bottom:0;*/
	/*border-bottom:1px solid black;*/
	margin-bottom: 0.0625em;
	/*border-top:2px solid black;*/
	margin-top: 0.125em;
	box-shadow: 0 -0.125em 0 0 black,
		0 0.0625em 0 0 black;
}
.floater .bar
{
	display: none;
	width:100%; 
	/*height:40px;*/
	table-layout:fixed;
}
.floater.bottom .bar.top
{
	display:table;
	/*border-bottom:1px solid black;*/
	box-shadow: 0 0.0625em 0 0 black;
	margin-bottom: 0.0625em;
}
.floater.top .bar.bottom
{
	display:table;
	/*border-top:1px solid black;*/
	box-shadow: 0 -0.0625em 0 0 black;
	margin-top: 0.0625em;
}
.floater .bar .resizer
{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	cursor:ns-resize
}
.floater .bar .resizer:before
{
	content:'...';
}
.floater .bar .close, .floater .bar .back
{
	/*width:40px;
	height:40px;*/
	width: 2.5em;
	height: 2.5em;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	/*border-left:1px solid black;*/
	box-shadow: -0.0625em 0 0 0 black;
	margin-left: 0.0625em;
	cursor:pointer;
}
.floater .bar .close:before
{
	content:'x';
}

.floater .bar .back:before
{
	content:'⋮';
}

.floater .bar .tab
{
	display:table-cell;
	position:relative;
	/*width:40px;
	height:40px;*/
	width: 2.5em;
	height: 2.5em;
	vertical-align:middle;
	text-align:center;
	/*font-weight:bold;*/
	font-family:sans-serif;
	/*border-right:1px solid black;*/
	box-shadow: inset -0.0625em 0 0 0 black;
	padding-right: 0.0625em;
	cursor:pointer;
	/*background-color:C7C7C7;*/
	/*display:inline-block;*/
}
.floater .bar .tab[data-tab=word]:before
{
	content:'言';
}
.floater .bar .tab[data-tab=name]:before
{
	content:'名';
}
.floater .bar .tab[data-tab=kanji]:before
{
	content:'字';
}
.floater .bar .tab .pad
{
	display:none;
	position:absolute;
	background-color:white;
	/*height: 2px;*/
	height: 0.125em;
	box-shadow: inset -0.0625em 0 0 0 black;
	width:100%;
}
.floater .bar .tab.active .pad
{
	display:block;
}
.floater.top .bar .tab .pad
{
	/*top:-1px;*/
	top: -0.0625em;
}
.floater.bottom .bar .tab .pad
{
	/*bottom:-1px;*/
	bottom: -0.0625em;
}

.dictionary
{
	width:100%;
	display:none;
	/*height:150px;*/
	/*overflow:auto;*/
}
.dictionary.active
{
	display:block;
}

.dictionary-container
{
	width:100%;
	/*height:150px;*/
	height:9.375em;
	overflow:hidden;
}
.dictionary .dictionary-entry
{
	box-sizing:border-box;
	width:100%;
	/*padding:5px;*/
	padding:0.3125em;
	border-top: 1px dashed black;
	/*box-shadow: 0 -0.0625em 0 0 black;*/
	/*margin-top: 0.0625em;*/
}
.dictionary .dictionary-entry:first-child
{
	border-top: none;
}
.dictionary .dictionary-entry .kanji
{
	/*font-size:16px;*/
	font-size:1em;
}
.dictionary .dictionary-entry .grammar
{
	/*font-size:10px;*/
	font-size:0.625em;
}

.dictionary .dictionary-entry .description
{
	/*font-size:12px;*/
	font-size:0.75em;
}
.dictionary .empty
{
	box-sizing:border-box;
	width:100%;
	/*padding:5px;*/
	padding:0.3125em;
	text-align:center;
}
.dictionary .dictionary-entry ~ .empty
{
	display:none;
}

.dictionary-not-ready
{
	display:none;
}
.dictionary-container.loading .dictionary
{
	display:none;
}
.dictionary-container.loading .dictionary-not-ready
{
	display:table;
	width:100%;
	height:100%;
}
.dictionary-container.loading .dictionary-not-ready span
{
	display:table-cell;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

.statusBar
{
	box-sizing:border-box;
	bottom:0;
	position:fixed;
	width: 100%;
	/*padding:5px;*/
	padding:0.3125em;
	background-color:white;
}
.statusBar .grid
{
	display:table;
	width:100%; 
	table-layout:fixed;
}
.statusBar .grid .col
{
	display:table-cell;
	vertical-align:middle;
}
.statusBar .grid .col > .progress
{
	background:white;
	/*border: 1px solid black;*/
	box-shadow: 0 0 0 0.0625em black;
	margin: 0.0625em;
	/*height: 10px;*/
	height: 0.625em;
	line-height:0;
	position:relative;
}
.statusBar .grid .col > .progress .bar
{
	display:block;
	height:100%;
	background-color:gray;
}
.statusBar .grid .col > .progress .line
{
	top:0;
	height:100%;
	margin-left:-10px;
	width: 10px;
	/*border-left:1px solid black;*/
	box-shadow: 0.0625em 0 0 0 black;
	position:absolute;
}
.statusBar .grid .col.break
{
	/*width:5px;*/
	width:0.3125em;
}
.statusBar .grid .col.status
{
	width:0;
}
.statusBar .grid .col.status span
{
	white-space: nowrap;
}

.statusBar .grid .col.status > span > div
{
	display:inline-block;
}

.blink
{
	position:fixed;
	background-color: black;
	height: 100%;
	width: 100%;
	top:0;
}
.blink.white
{
	background-color: white;
}

.menu .item > .right
{
	float: right;
}

/* History */
.history .item.entry
{
	padding-right: 4.5em;
	position:relative;
}

.history .item.entry .right
{
	float:none;
	position:absolute;
	right:0.3125em;
	top:0.3125em;
}

/* Global back */
/*.globalBack
{
	position:fixed;
	height:4em;
	width:4em;
	top:2em;
	left:2em;
	background-size: 100% 100%;
	background-image: url("back.png");
}*/
