html
{
	height:100%;
	width:100%;
}
body
{
	margin: 0;
	overflow:hidden;
	height:100%;
	width:100%;
	/* Turn off touch highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	/* block copy&paste on android */
	-webkit-touch-callout: none;
    /*-webkit-user-select: none;*/
}
.screen
{
	height:100%;
	width:100%
	overflow:hidden;
	display:none;
}
.screen.active
{
	display:block;
}
.menu
{
	font-family:sans-serif;
}

.menu .item
{
	width:100%;
	padding:5px;
	/*text-align:center;*/
	border-bottom:1px solid black;
	font-family:sans-serif;
	box-sizing:border-box;
}
.menu .item.disabled
{
	color:gray;
}

.menu .item input/*, .menu .item select*/
{
	display:none;
}

.menu .item select
{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}

.menu .item.checkbox, .menu .item.select
{
	padding-right:30px;
	position:relative;
}

/* Not using plain image background, because there positioning issues on android */
.menu .item.checkbox i, .menu .item.select i
{
	width:20px;
	height:20px;
	background-size: 100% 100%;
	position:absolute;
	top:5px;
	right:5px;
}

.menu .item.checkbox i
{
	background-image: url("unchecked.png");
}

.menu .item.checkbox.checked i
{
	background-image: url("checked.png");
}

.menu .item.select i
{
	background-image: url("select.png");
}

.menu .header
{
	background:black;
	color:white;
	overflow:hidden;
	border-bottom:1px solid black;
	box-sizing:border-box;
	width:100%;
	padding:2px;
	font-size:10px;
	display:block;
}

.screen.loading .message
{
	display:table;
	width:100%;
	height:100%;
}
.screen.loading .message span
{
	display:table-cell;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

.screen.reader.gpu
{
	-webkit-transform: translateZ(0);
}

.reader .scroller
{
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
.container
{
	padding:10px;
	word-wrap:break-word;
	/*line-height:1.5em;*/
}
.container p,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6
{
	line-height:1.5em;
}

.container p
{
	/*word-wrap:break-word;*/
	/*text-indent: 16px;*/
}

/*.container p *:not(p)
{
	text-indent: initial;
}*/

.container img
{
	/*margin:0 auto;*/
	/*width: auto;*/
	/*margin-top:5px;
	margin-bottom:5px;
	display: block;
	text-align:center;
	max-width:100%;
	height: auto;*/
}

.img-frame
{
    vertical-align:top;
    display: table;
    margin: 0 auto;
    table-layout: fixed;
}

.img-frame .img-container
{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
	width:inherit;
	height:inherit;
}

.img-frame .img-container img
{
    max-width:100%;
    max-height:100%;
    display:block;
    margin:0 auto;
}

.floater
{
	box-sizing: border-box;
	position:fixed;
	display:none;
	width: 100%;
	background-color:white;
}
.floater.top
{
	top:0;
	border-bottom:2px solid black;
}
.floater.bottom
{
	/*bottom:0;*/
	border-bottom:1px solid black;
	border-top:2px solid black;
}
.floater .bar
{
	display: none;
	width:100%; 
	/*height:40px;*/
	table-layout:fixed;
}
.floater.bottom .bar.top
{
	display:table;
	border-bottom:1px solid black;
}
.floater.top .bar.bottom
{
	display:table;
	border-top:1px solid black;
}
.floater .bar .resizer
{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	cursor:ns-resize
}
.floater .bar .resizer:before
{
	content:'...';
}
.floater .bar .close
{
	width:40px;
	height:40px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	border-left:1px solid black;
	cursor:pointer;
}
.floater .bar .close:before
{
	content:'x';
}
.floater .bar .tab
{
	display:table-cell;
	position:relative;
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
	/*font-weight:bold;*/
	font-family:sans-serif;
	border-right:1px solid black;
	cursor:pointer;
	/*background-color:C7C7C7;*/
	/*display:inline-block;*/
}
.floater .bar .tab[data-tab=word]:before
{
	content:'言';
}
.floater .bar .tab[data-tab=name]:before
{
	content:'名';
}
.floater .bar .tab[data-tab=kanji]:before
{
	content:'字';
}
.floater .bar .tab .pad
{
	display:none;
	position:absolute;
	background-color:white;
	height: 2px;
	width:100%;
}
.floater .bar .tab.active .pad
{
	display:block;
}
.floater.top .bar .tab .pad
{
	top:-1px;
}
.floater.bottom .bar .tab .pad
{
	bottom:-1px;
}

.dictionary
{
	width:100%;
	display:none;
	/*height:150px;*/
	/*overflow:auto;*/
}
.dictionary.active
{
	display:block;
}

.dictionary-container
{
	width:100%;
	height:150px;
	overflow:hidden;
}
.dictionary .dictionary-entry
{
	box-sizing:border-box;
	width:100%;
	padding:5px;
	border-top: 1px dashed black;
}
.dictionary .dictionary-entry:first-child
{
	border-top: none;
}
.dictionary .dictionary-entry .kanji
{
	font-size:16px;
}
.dictionary .dictionary-entry .grammar
{
	font-size:10px;
}

.dictionary .dictionary-entry .description
{
	font-size:12px;
}
.dictionary .empty
{
	box-sizing:border-box;
	width:100%;
	padding:5px;
	text-align:center;
}
.dictionary .dictionary-entry ~ .empty
{
	display:none;
}

.dictionary-not-ready
{
	display:none;
}
.dictionary-container.loading .dictionary
{
	display:none;
}
.dictionary-container.loading .dictionary-not-ready
{
	display:table;
	width:100%;
	height:100%;
}
.dictionary-container.loading .dictionary-not-ready span
{
	display:table-cell;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}

.statusBar
{
	box-sizing:border-box;
	bottom:0;
	position:fixed;
	width: 100%;
	padding:5px;
	background-color:white;
}
.statusBar .grid
{
	display:table;
	width:100%; 
	table-layout:fixed;
}
.statusBar .grid .col
{
	display:table-cell;
	vertical-align:middle;
}
.statusBar .grid .progress
{
	background:white;
	border: 1px solid black;
	height: 10px;
	line-height:0;
}
.statusBar .grid .progress .bar
{
	display:block;
	height:100%;
	background-color:gray;
}
.statusBar .grid .col.break
{
	width:5px;
}
.statusBar .grid .col.status
{
	width:0;
}
.statusBar .grid .col.status span
{
	white-space: nowrap;
}
.blink
{
	position:fixed;
	background-color: black;
	height: 100%;
	width: 100%;
	top:0;
}
.blink.white
{
	background-color: white;
}

/*ruby, rb, rp, rt
{
	display: inline-block;
	font-size:inherit;
}*/